.w-e-table {
  display: flex;
  align-items: center;
  .w-e-table-input {
    width: 40px;
    text-align: center !important;
    margin: 0 5px;
  }
}

.w-e-video-input {
  width: 100px;
  text-align: center !important;
  margin: 0 5px;
}

.w-e-tooltip-input {
    border: none;
    border-bottom: 1px solid #dcdfe6;
    font-size: 14px;
    height: 30px;
    width: 50px;
    color: #333;
    text-align: center !important;
    outline: none;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    margin: 0 5px;
    -webkit-appearance: none;
    background-image: none;
    background-color: #fff;

  }