.w-e-table {
  display: flex;
  align-items: center;
  .w-e-table-input {
    width: 40px;
    text-align: center !important;
    margin: 0 5px;
  }
}

.w-e-video-input {
  width: 100px;
  text-align: center !important;
  margin: 0 5px;
}